.form{
    font-family: 'Roboto Condensed', 'sans-serif';
    font-weight: bold;
    text-transform:uppercase;
    
  display: grid;
 grid-template-columns: auto auto;
 gap: 0.5rem;
    background: linear-gradient(180deg, #2f7f6c, #2b986d);
}
label{
font-size: 12px;
padding-bottom: 2%;
}
.form div{
    
    margin-left: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.form input{
  margin-bottom: 1rem;
  height: 45px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
  color: white;
  padding-left: 3%;
  
}
.form button{
  grid-column: 1 / span 2;
}
.button-row {
   grid-column: 1 / span 2;    
  display: flex;
  flex-direction: row;
  justify-content: center;  
  gap: 1rem;                
  align-items: center;
}
.button,.buttonAlt{
    width: 140px;
    height: 45px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #1b5145;
}



