/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* general styles */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Quicksand", "Roboto Condensed", sans-serif;
}

#root {
  background-image: linear-gradient(90deg, #303b37, #1a1f1d);
  min-height: 100vh;
  color: #e1eeeb;
}

/* navbar styles */

nav {
  text-align: center;
}

.nav-img {
  margin-top: 3rem;
  width: 100px;
  object-fit: contain;
}
